@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Color System */
  --color-primary: oklch(0.4758 0.2241 288.5);

  /* Typography System */
  --text-xs--letter-spacing: -0.015rem; /* x-small */
  --text-sm--letter-spacing: -0.0175rem; /* small */
  --text-base--letter-spacing: -0.02rem; /* base */
  --text-lg--letter-spacing: -0.0225rem; /* large */
  --text-xl--letter-spacing: -0.025rem; /* x-large */
  --text-2xl--letter-spacing: -0.03rem; /* 2-x-large */
  --text-3xl--letter-spacing: -0.0375rem; /* 3-x-large */
  --text-4xl--letter-spacing: -0.045rem; /* 4-x-large */
  --text-5xl--letter-spacing: -0.06rem; /* 5-x-large */
  --text-6xl--letter-spacing: -0.075rem; /* 6-x-large */
  --text-7xl--letter-spacing: -0.09rem; /* 7-x-large */
  --text-8xl--letter-spacing: -0.12rem; /* 8-x-large */
  --text-9xl--letter-spacing: -0.16rem; /* 9-x-large */
}
